*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*nav*/
.container-nav {
    border: 4px solid yellow;
}
.dos-col-nav {
    border: 2px solid rebeccapurple;
}
.logo-nav {
    border: 2px solid red;
}
.main-nav {
    border: 2px solid black ;
}
/*first-section*/
.container-firstSection {
    border: 4px solid yellow;
}
.una-col-firstSection{
    border: 2px solid fuchsia;
}
.yellow-box{
    border: 2px solid lightblue;
}
/*second-section*/
.container-secondSection {
    border: 4px solid yellow;
}
.dos-col-secondSection {
    border: 2px solid greenyellow;
}
.container-second-section {
    border: 2px solid rosybrown;    
}
.imagen-cel {
    border: 2px solid red;
}
.text-cel {
    border: 2px solid black; 
}
/*third-section*/
.container-thirdSection {
    border: 4px solid yellow;
}
.una-col-firstSection {
    border: 2px solid fuchsia;
}
.transparent-box {
    border: 2px solid gray;
}
/**/
.container-fourthSection{
    border: 4px solid yellow;
}
.una-col-fourthSection {
    border: 2px solid lightgreen;
}
.rate-fourthSection {
    border: 2px solid gray;
}
.map-fourthSection {
    border: 2px solid red;
}
/**/
.container-footer {
    border: 4px solid yellow;
}
.una-col-footer {
    border: 2px solid rosybrown;   
}
.logo-footer{
    border: 2px solid fuchsia;   
}
.dos-col-footer {
    border: 2px solid gray;   
}
.social-media {
    border: 2px solid orange;
}
.option-footer {
    border: 2px solid black;
}
.shape-footer{
    border: 2px solid orangered;
}
.arroba-footer {
    border: 2px solid royalblue;
}
/**/
